In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [105]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
webpage = requests.get('http://books.toscrape.com/catalogue/page-1.html', headers=headers).text

In [106]:
soup = BeautifulSoup(webpage, 'lxml')

In [108]:
soup.find_all('h3')[0].text

'A Light in the ...'

In [109]:
for i in soup.find_all('h3'):
    print(i.text)

A Light in the ...
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History ...
The Requiem Red
The Dirty Little Secrets ...
The Coming Woman: A ...
The Boys in the ...
The Black Maria
Starving Hearts (Triangular Trade ...
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little ...
Rip it Up and ...
Our Band Could Be ...
Olio
Mesaerion: The Best Science ...
Libertarianism for Beginners
It's Only the Himalayas

In [110]:
for i in soup.find_all('p', class_='price_color'):
    print(i.text)

Â£51.77
Â£53.74
Â£50.10
Â£47.82
Â£54.23
Â£22.65
Â£33.34
Â£17.93
Â£22.60
Â£52.15
Â£13.99
Â£20.66
Â£17.46
Â£52.29
Â£35.02
Â£57.25
Â£23.88
Â£37.59
Â£51.33
Â£45.17

In [111]:
books = soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3')

In [112]:
name=[]
price=[]
available=[]
for i in books:
    name.append(((i.find('h3')).find('a'))['title'])
    price.append((i.find('p', class_='price_color').text)[1:])
    available.append((i.find('p', class_='availability').text).strip())

d = {'name':name, 'price':price, 'availability':available}
data = pd.DataFrame(d)
data

                                                 name   price availability
0                                A Light in the Attic  £51.77     In stock
1                                  Tipping the Velvet  £53.74     In stock
2                                          Soumission  £50.10     In stock
3                                       Sharp Objects  £47.82     In stock
4               Sapiens: A Brief History of Humankind  £54.23     In stock
5                                     The Requiem Red  £22.65     In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34     In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93     In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60     In stock
9                                     The Black Maria  £52.15     In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99     In stock
11                              Shakespeare's Sonnets  £20.66     In stock
12                                        Set Me Free  £17.46     In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29     In stock
14                          Rip it Up and Start Again  £35.02     In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25     In stock
16                                               Olio  £23.88     In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59     In stock
18                       Libertarianism for Beginners  £51.33     In stock
19                            It's Only the Himalayas  £45.17     In stock

In [104]:
final = pd.DataFrame()
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
for j in range(10):
    url = 'http://books.toscrape.com/catalogue/page-{}.html'.format(j)
    webpage = requests.get('http://books.toscrape.com/catalogue/page-1.html', headers=headers).text
    soup = BeautifulSoup(webpage, 'lxml')
    name=[]
    price=[]
    available=[]
    for i in books:
        name.append(((i.find('h3')).find('a'))['title'])
        price.append((i.find('p', class_='price_color').text)[1:])
        available.append((i.find('p', class_='availability').text).strip())

    d = {'name':name, 'price':price, 'availability':available}
    df = pd.DataFrame(d)
    
    final =  pd.concat([final,df],ignore_index=True)

final

                                                  name   price availability
0                                 A Light in the Attic  £51.77     In stock
1                                   Tipping the Velvet  £53.74     In stock
2                                           Soumission  £50.10     In stock
3                                        Sharp Objects  £47.82     In stock
4                Sapiens: A Brief History of Humankind  £54.23     In stock
..                                                 ...     ...          ...
195  Our Band Could Be Your Life: Scenes from the A...  £57.25     In stock
196                                               Olio  £23.88     In stock
197  Mesaerion: The Best Science Fiction Stories 18...  £37.59     In stock
198                       Libertarianism for Beginners  £51.33     In stock
199                            It's Only the Himalayas  £45.17     In stock

[200 rows x 3 columns]